In [19]:
#read file and put it as a dataframe
import pandas as pd
from fuzzywuzzy import fuzz

def read_csv_to_dataframe(file_path):
    """
    Reads a CSV file and returns a DataFrame.

    Parameters:
    - file_path (str): The path to the CSV file.

    Returns:
    - pd.DataFrame: The DataFrame created from the CSV file.
    """
    df = pd.read_csv(file_path)
    return df

In [ ]:
file_path = r"C:\Users\user\Desktop\Coursera\Data Engineering\Escape Data Engineering\Project 1\Project1Data\Open_Restaurant_Applications__Historic__20231202.csv"
df = read_csv_to_dataframe(file_path)

#drop duplicates
df = df.drop_duplicates(subset=['Restaurant Name','Legal Business Name'], keep='first')

In [20]:
file_path = r"C:\Users\user\Desktop\Coursera\Data Engineering\Escape Data Engineering\Project 1\Project1Data\NewYork_City_Restaurant_Inspection_Results_20231202.csv"
df = read_csv_to_dataframe(file_path)

#drop duplicates
df = df.drop_duplicates(subset=['DBA'], keep='first')

In [21]:
def standardized_data(df,column):
    df[column] = df[column].apply(lambda x: x.str.title())
    
    return df

In [ ]:
df = standardized_data(
    df,
    ['Restaurant Name', 'Seating Interest (Sidewalk/Roadway/Both)', 'Legal Business Name', 'Business Address','Doing Business As (DBA)','Building Number',
     'Street','Approved for Sidewalk Seating','Approved for Roadway Seating','Qualify Alcohol','Landmark District or Building',
     'landmarkDistrict_terms','healthCompliance_terms']
)

In [22]:
new_df = standardized_data(
    df,
    ['DBA','STREET','BUILDING']
)

In [23]:
def rename_columns(df,old_name,new_name):
    df = df.rename(columns={old_name: new_name})

    return df

In [40]:
new_df = rename_columns(new_df,'Seating Interest (Sidewalk/Roadway/Both)','Seating Interest')
new_df = rename_columns(new_df,'Food Service Establishment Permit #','Food Service Establishment Permit')
new_df = rename_columns(new_df,'Doing Business As (DBA)','Doing Business As')
#new_df

In [24]:
new_df = rename_columns(new_df,'DBA','Doing Business As')
new_df = rename_columns(new_df,'BORO','Borough')
new_df = rename_columns(new_df,'BUILDING','Building Number')
new_df = rename_columns(new_df,'STREET','Street')
new_df = rename_columns(new_df,'ZIPCODE','Zipcode')
new_df = rename_columns(new_df,'PHONE','Phone Number')
new_df = rename_columns(new_df,'CUISINE DESCRIPTION','Cuisine Description')
new_df = rename_columns(new_df,'INSPECTION DATE','Inspection Date')
new_df = rename_columns(new_df,'ACTION','Action')								
new_df = rename_columns(new_df,'VIOLATION CODE','Violation Code')
new_df = rename_columns(new_df,'VIOLATION DESCRIPTION','Violation Description')
new_df = rename_columns(new_df,'CRITICAL FLAG','Critical Flag')	
new_df = rename_columns(new_df,'SCORE','Score')	
new_df = rename_columns(new_df,'GRADE','Grade')	
new_df = rename_columns(new_df,'GRADE DATE','Grade Date')	
new_df = rename_columns(new_df,'RECORD DATE','Record Date')	
new_df = rename_columns(new_df,'INSPECTION TYPE','Inpsection Type')

# Drop LocationPoint1 column
new_df = new_df.drop('Location Point1', axis = 1)

In [20]:
new_df

,CAMIS,Doing Business As,Borough,Building Number,Street,Phone Number,Phone Number,Cuisine Description,Inspection Date,Action,...,Record Date,Inpsection Type,Latitude,Longitude,Community Board,Council District,Census Tract,BIN,BBL,NTA
0,50106271,Sour Mouse,Manhattan,110,Delancey Street,10002.0,6462567220,NaN,1/1/1900,NaN,...,12/1/2023,NaN,40.718640,-73.988481,103.0,1.0,1800.0,1087565.0,1.004100e+09,MN27
1,50117820,Modello Bar - Barclays Center,Brooklyn,620,Atlantic Avenue,11217.0,9174174384,NaN,1/1/1900,NaN,...,12/1/2023,NaN,40.683447,-73.975691,302.0,35.0,12902.0,3398156.0,3.011180e+09,BK37
2,50141790,NaN,Manhattan,30,East 20 Street,10003.0,9176670036,NaN,1/1/1900,NaN,...,12/1/2023,NaN,40.738929,-73.989221,105.0,2.0,5200.0,1016181.0,1.008480e+09,MN13
3,50134862,Fine And Raw Chocolate,Brooklyn,70,Scott Avenue,11237.0,6462440734,NaN,1/1/1900,NaN,...,12/1/2023,NaN,40.709853,-73.922706,301.0,34.0,44900.0,3070597.0,3.029900e+09,BK90
4,50127238,The Deluxe Party Ktv,Queens,3420,Linden Pl,11354.0,9172957843,NaN,1/1/1900,NaN,...,12/1/2023,NaN,40.766275,-73.831338,407.0,20.0,86900.0,4112007.0,4.049500e+09,QN22
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
209136,50122994,New York Masala,Queens,16407,85Th Ave,11432.0,9175026030,Indian,10/11/2022,Violations were cited in the following area(s).,...,12/1/2023,Pre-permit (Operational) / Initial Inspection,40.712586,-73.801084,408.0,24.0,44800.0,4462006.0,4.098540e+09,QN35
209396,50118709,Sunday Supper Trattoria,Queens,NaN,Terminal C Level 3 Concourse E,11371.0,2159970667,Italian,10/26/2022,Violations were cited in the following area(s).,...,12/1/2023,Pre-permit (Operational) / Initial Inspection,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
209459,50129800,Ginger Root,Manhattan,1164,1 Avenue,10065.0,9175766999,NaN,1/1/1900,NaN,...,12/1/2023,NaN,40.762580,-73.959790,108.0,5.0,10602.0,1045388.0,1.014580e+09,MN31
209506,50095016,Revoluction Taco,Manhattan,53,Stone Street,10004.0,9176912141,NaN,1/1/1900,NaN,...,12/1/2023,NaN,40.704400,-74.010247,101.0,1.0,900.0,1000845.0,1.000290e+09,MN25
209648,50140196,Baht,Queens,78-23,37 Avenue,11372.0,3474212770,NaN,1/1/1900,NaN,...,12/1/2023,NaN,40.749387,-73.887741,403.0,25.0,28500.0,4029654.0,4.012780e+09,QN28

In [9]:
def cleaning_data(df,columns):
    for column in columns:
        df[column] = df[column].str.replace(r'\bllc\b(?!\.)', 'LLC', regex=True, case=False)
        df[column] = df[column].str.replace(r'\binc\b(?!\.)', 'Inc.', regex=True, case=False)
        df[column] = df[column].str.replace(r'\bcorp\b(?!\.)', 'Corp.', regex=True, case=False)
        df[column] = df[column].str.replace(r'\bst\b(?!\.)', 'Street', regex=True, case=False)
        df[column] = df[column].str.replace('&Amp;', '&', regex=True, case=False)
        df[column] = df[column].str.replace(r'\b(?:ave|ave\.|Av)\b', 'Avenue', regex=True, case=False)
        df[column] = df[column].str.replace(r'\b(?:blvd|blvd\.)\b', 'Boulevard', regex=True, case=False)
        df[column] = df[column].str.replace(r'\bPLZ\b(?!\.)', 'Plaza', regex=True, case=False)
        df[column] = df[column].str.replace(r'\bRD\b(?!\.)', 'Road', regex=True, case=False)
        df[column] = df[column].str.replace(r'\bPL\b(?!\.)', 'Place', regex=True, case=False)
        df[column] = df[column].str.replace(r'\bTPKE\b(?!\.)', 'Turnpike', regex=True, case=False)
        df[column] = df[column].str.replace(r'\bPKWY\b(?!\.)', 'Parkway', regex=True, case=False)
        df[column] = df[column].str.replace(r'\bSQ\b(?!\.)', 'Square', regex=True, case=False)
        df[column] = df[column].str.replace(r'\bsLN\b(?!\.)', 'Lane', regex=True, case=False)
    
        # Replace numeric suffixes with lowercase
        df[column] = df[column].str.replace(r'(\d+)(st|nd|rd|th)', lambda x: f"{x.group(1)}{x.group(2).lower()}", regex=True, case=False)
    
        # Replace words with variations of apostrophe
        df[column] = df[column].replace(r"(\w)'S", r"\1's", regex=True)
        df[column] = df[column].replace(r"Don'T", "Don't", regex=True)

        # Remove { } from data
        df[column] = df[column].str.replace('[{}]', '', regex=True)

        # Remove unwanted _ inside a data
        df[column] = df[column].str.replace('_','', regex=True)
        
        # Replace all blank rows into "Not Available"
        df.fillna('Not Available', inplace=True)

        # Replace 'Na' and 'N/A' with 'Not Available' in the column
        df[column] = df[column].replace(['Na', 'N/A'], 'Not Available')
      
        return df

In [ ]:
def capitalize_data(df,columns):
    for column in columns:
        # Capitalize certain column
        df[column] = df[column].str.upper()
        return df

In [ ]:
#df = cleaning_data(df, ['RestaurantName', 'LegalBusinessName', 'BusinessAddress'])
new_df = cleaning_data(df,['Restaurant Name'])
new_df = cleaning_data(new_df,['Legal Business Name'])
new_df = cleaning_data(new_df,['Business Address'])
new_df = cleaning_data(new_df,['globalid'])
new_df = cleaning_data(new_df,['Doing Business As (DBA)'])
new_df = cleaning_data(new_df,['Street'])
new_df = cleaning_data(new_df,['SLA Serial Number'])
new_df = cleaning_data(new_df,['Time of Submission'])
#new_df

In [30]:
new_df = cleaning_data(new_df,['Doing Business As'])
new_df = cleaning_data(new_df,['Building Number'])
new_df = cleaning_data(new_df,['Street'])
new_df = cleaning_data(new_df,['Phone Number'])

In [64]:
def convert_datetime(df,columns):
    for column in columns:   
        #Change date into correct format
        df[column] = pd.to_datetime(df[column], errors='coerce')

        # Format with AM/PM and add :00 seconds
        df[column] = df[column].dt.strftime("%m/%d/%Y %I:%M:%S %p")

    return df

new_df = convert_datetime(new_df,['Time of Submission'])

#new_df

,objectid,globalid,Seating Interest (Sidewalk/Roadway/Both),Restaurant Name,Legal Business Name,Doing Business As (DBA),Building Number,Street,Borough,Postcode,...,healthCompliance_terms,Time of Submission,Latitude,Longitude,Community Board,Council District,Census Tract,BIN,BBL,NTA
0,13610,FD87ABAA-860E-4762-845D-8F0403D0246B,Roadway,Madame Bonte,Beanhouse LLC,Madame Bonte,Not Available,318 East 84 Street,Manhattan,10028,...,Yes,06/09/2022 04:26:00 PM,40.776277,-73.952051,8.0,5.0,138.0,1049941.0,1015460043.0,Yorkville
1,5900,3B07E4C0-07B7-4079-8333-64446CC3EE03,Sidewalk,Seasoned Vegan,"Seasoned Vegan, LLC","Seasoned Vegan, LLC",55,St. Nicholas Avenue,Manhattan,10026,...,Yes,NaN,40.8005,-73.952507,10.0,9.0,216.0,1054995.0,1018220052.0,Central Harlem South
2,13018,137C575D-DC14-4F9D-83D9-A3FFE513B3B8,Sidewalk,Americas Cafe & Grill,68th Grill Inc.,Americas Cafe & Grill,Not Available,1159 3 Avenue,Manhattan,10065,...,Yes,NaN,40.766845,-73.962708,8.0,4.0,118.0,1043896.0,1014220048.0,Lenox Hill-Roosevelt Island
3,11630,15270732-2A78-4C24-89DD-BE8DD916F115,Roadway,Sushi Seki,Seki Inc.,Sushi Seki,Undefined,208 West 23 Street,Manhattan,10011,...,Yes,NaN,40.744338,-73.99624,4.0,3.0,91.0,1014129.0,1007720056.0,Hudson Yards-Chelsea-Flatiron-Union Square
4,13137,EF9C8173-91D1-496E-8BD4-B02BEADC2A21,Roadway,Sami & Susu,Amir Nathan,Sami & Susu,Not Available,190 Orchard Street,Manhattan,10002,...,Yes,NaN,40.722124,-73.98816,3.0,1.0,3001.0,1005393.0,1004120010.0,Chinatown
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
14423,9799,108C6784-54DB-480B-8627-CF0495D27A0E,Both,King Of Spades Inc.,King Of Spades Inc.,King Of Spades Inc.,1425,College Point Boulevard,Queens,11356,...,Yes,08/04/2020 03:27:00 PM,40.784739,-73.845776,7.0,19.0,929.0,4098349.0,4040850057.0,College Point
14424,8215,7B8EC275-D470-4106-819E-03FC0E1F9717,Both,La Queen Tea House Inc.,La Queen Tea House Inc.,La Queen Tea House Inc.,752B,61st Street,Brooklyn,11220,...,Yes,NaN,40.635543,-74.01122,7.0,38.0,118.0,3143885.0,3057940027.0,Sunset Park East
14425,2895,476f88d2-d3e8-4e83-8686-8bac2f752cf5,Sidewalk,Aahar Indina Cuisine,Vidhan Bhatt Inc.,Vidhan Bhatt Inc.,10,Murray Street,Manhattan,10007,...,Yes,NaN,40.713298,-74.007773,1.0,1.0,21.0,1001399.0,1001240004.0,SoHo-TriBeCa-Civic Center-Little Italy
14426,607,ff0d04ef-1d9a-47d6-8f20-8bdbdbce2792,Sidewalk,Le Cafe Coffee,Le Cafe Coffee LLC,Le Cafe Coffee LLC,145,Fourth Avenue,Manhattan,10003,...,Yes,NaN,40.733916,-73.989872,3.0,2.0,42.0,1077569.0,1005590009.0,East Village
14427,6641,9DBBF87C-AE3D-4487-81A4-30E44806614F,Both,Kashkaval Garden,Kashkaval Kitchen LLC,Kashkaval Kitchen LLC,852,9th Avenue,Manhattan,10019,...,Yes,NaN,40.766927,-73.986423,4.0,3.0,139.0,1025423.0,1010460004.0,Clinton

In [92]:
new_df

,objectid,globalid,Seating Interest (Sidewalk/Roadway/Both),Restaurant Name,Legal Business Name,Doing Business As (DBA),Building Number,Street,Borough,Postcode,...,healthCompliance_terms,Time of Submission,Latitude,Longitude,Community Board,Council District,Census Tract,BIN,BBL,NTA
0,13610,FD87ABAA-860E-4762-845D-8F0403D0246B,Roadway,Madame Bonte,Beanhouse LLC,Madame Bonte,Not Available,318 East 84 Street,Manhattan,10028,...,Yes,6/9/2022 16:26,40.776277,-73.952051,8.0,5.0,138.0,1049941.0,1015460043.0,Yorkville
1,5900,3B07E4C0-07B7-4079-8333-64446CC3EE03,Sidewalk,Seasoned Vegan,"Seasoned Vegan, LLC","Seasoned Vegan, LLC",55,St. Nicholas Avenue,Manhattan,10026,...,Yes,06/26/2020 08:38:00 PM,40.8005,-73.952507,10.0,9.0,216.0,1054995.0,1018220052.0,Central Harlem South
2,13018,137C575D-DC14-4F9D-83D9-A3FFE513B3B8,Sidewalk,Americas Cafe & Grill,68th Grill Inc.,Americas Cafe & Grill,Not Available,1159 3 Avenue,Manhattan,10065,...,Yes,10/22/2021 11:01:00 AM,40.766845,-73.962708,8.0,4.0,118.0,1043896.0,1014220048.0,Lenox Hill-Roosevelt Island
3,11630,15270732-2A78-4C24-89DD-BE8DD916F115,Roadway,Sushi Seki,Seki Inc.,Sushi Seki,Undefined,208 West 23 Street,Manhattan,10011,...,Yes,12/14/2020 07:54:00 PM,40.744338,-73.99624,4.0,3.0,91.0,1014129.0,1007720056.0,Hudson Yards-Chelsea-Flatiron-Union Square
4,13137,EF9C8173-91D1-496E-8BD4-B02BEADC2A21,Roadway,Sami & Susu,Amir Nathan,Sami & Susu,Not Available,190 Orchard Street,Manhattan,10002,...,Yes,12/22/2021 12:46:00 PM,40.722124,-73.98816,3.0,1.0,3001.0,1005393.0,1004120010.0,Chinatown
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
14423,9799,108C6784-54DB-480B-8627-CF0495D27A0E,Both,King Of Spades Inc.,King Of Spades Inc.,King Of Spades Inc.,1425,College Point Boulevard,Queens,11356,...,Yes,8/4/2020 15:27,40.784739,-73.845776,7.0,19.0,929.0,4098349.0,4040850057.0,College Point
14424,8215,7B8EC275-D470-4106-819E-03FC0E1F9717,Both,La Queen Tea House Inc.,La Queen Tea House Inc.,La Queen Tea House Inc.,752B,61st Street,Brooklyn,11220,...,Yes,07/13/2020 03:53:00 PM,40.635543,-74.01122,7.0,38.0,118.0,3143885.0,3057940027.0,Sunset Park East
14425,2895,476F88D2-D3E8-4E83-8686-8BAC2F752CF5,Sidewalk,Aahar Indina Cuisine,Vidhan Bhatt Inc.,Vidhan Bhatt Inc.,10,Murray Street,Manhattan,10007,...,Yes,06/21/2020 01:46:00 PM,40.713298,-74.007773,1.0,1.0,21.0,1001399.0,1001240004.0,SoHo-TriBeCa-Civic Center-Little Italy
14426,607,FF0D04EF-1D9A-47D6-8F20-8BDBDBCE2792,Sidewalk,Le Cafe Coffee,Le Cafe Coffee LLC,Le Cafe Coffee LLC,145,Fourth Avenue,Manhattan,10003,...,Yes,06/19/2020 01:19:00 PM,40.733916,-73.989872,3.0,2.0,42.0,1077569.0,1005590009.0,East Village
14427,6641,9DBBF87C-AE3D-4487-81A4-30E44806614F,Both,Kashkaval Garden,Kashkaval Kitchen LLC,Kashkaval Kitchen LLC,852,9th Avenue,Manhattan,10019,...,Yes,06/30/2020 10:33:00 PM,40.766927,-73.986423,4.0,3.0,139.0,1025423.0,1010460004.0,Clinton

In [5]:
# Function to clean the 'Building Number' column
def cleaning_building_number(value):
    try:
        # Try to parse as a date
        pd.to_datetime(value)
        return value
    except ValueError:
        try:
            # Try to parse as a float
            float_value = float(value)
            # Check if the float value has decimal places
            if float_value.is_integer():
                # If it's an integer, return the original value
                return value
            else:
                # If it has decimal places, return "Not Available"
                return "Not Available"
        except ValueError:
            # If not a valid date or float, replace with "Not Available"
            return "Not Available"

# Apply the clean_building_number function to the 'Building Number' column
new_df['Building Number'] = new_df['Building Number'].apply(cleaning_building_number)
#new_df

C:\Users\user\AppData\Local\Temp\ipykernel_16264\395388247.py:5: UserWarning: Parsing dates in %d/%m/%Y format when dayfirst=False (the default) was specified. Pass `dayfirst=True` or specify a format to silence this warning.
  pd.to_datetime(value)

In [11]:
def removing_column_with_dates(value):
    #Remove dates and put replace it as Not Available
    try:
        # Try to parse as a date
        pd.to_datetime(value, errors='raise')
        return "Not Available"
    except ValueError:
        # If not a valid date, replace with "Not Available"
        return value

In [ ]:
new_df['SLA Serial Number'] = new_df['SLA Serial Number'].apply(removing_column_with_dates)

In [26]:
new_df['Building Number'] = new_df['Building Number'].apply(removing_column_with_dates)
new_df['Violation Code'] = new_df['Violation Code'].apply(removing_column_with_dates)

In [7]:
import re

def cleaning_permit_column(df):
    # Define a list of words to exclude
    exclude_words = ['Restaurant', 'Spanish restaurant', 'RECORD #', 'CODE H25 CLASS/SUBCLASS FS', 'N/Abrewe', ', Code H25, Class fs'
                    '*Food processing license Agriculture and Markets','Grandfathered','General','Pizza','Nabrewer']

    # Use str.replace with regex for case-insensitive replacement
    pattern = '|'.join(map(re.escape, exclude_words))
    df['Food Service Establishment Permit'] = df['Food Service Establishment Permit'].str.replace(pattern, '', case=False, regex=True)

    # Make empty string to Not Available
    df['Food Service Establishment Permit'] = df['Food Service Establishment Permit'].replace('', 'Not Available')

    # Capitalize all data
    df['Food Service Establishment Permit'] = df['Food Service Establishment Permit'].str.upper()
   
    # Replace Na, N/A into Not Available  
    df['Food Service Establishment Permit'] = df['Food Service Establishment Permit'].replace(['Na', 'N/A', 'na','NA'], 'Not Available')
    return df

new_df = cleaning_permit_column(new_df)

In [14]:
# Function to remove extra spaces in data
def remove_spaces(value):
    # Replace multiple spaces with a single space
    return ' '.join(value.split())

In [ ]:
new_df['Business Address'] = new_df['Business Address'].apply(remove_spaces)
new_df['Street'] = new_df['Street'].apply(remove_spaces)

In [27]:
new_df['Street'] = new_df['Street'].apply(remove_spaces)
new_df['Building Number'] = new_df['Building Number'].apply(remove_spaces)
new_df['Doing Business As'] = new_df['Doing Business As'].apply(remove_spaces)

In [16]:
def cleaning_inpspection_date(df,columns):
    for column in columns:
        # Replace '1/1/1900' with 'Not Available'
        df[column] = df[column].replace('1/1/1900', 'Not Available')

        # Convert the remaining dates to the desired format
        df[column] = pd.to_datetime(df[column], errors='coerce').dt.strftime('%d/%m/%Y')

        return df

In [28]:
new_df = cleaning_inpspection_date(new_df,['Inspection Date'])
new_df = cleaning_inpspection_date(new_df,['Record Date'])
new_df

C:\Users\user\AppData\Local\Temp\ipykernel_3124\3776108358.py:7: UserWarning: Could not infer format, so each element will be parsed individually, falling back to `dateutil`. To ensure parsing is consistent and as-expected, please specify a format.
  df[column] = pd.to_datetime(df[column], errors='coerce').dt.strftime('%d/%m/%Y')

,CAMIS,Doing Business As,Borough,Building Number,Street,Zipcode,Phone Number,Cuisine Description,Inspection Date,Action,...,Record Date,Inpsection Type,Latitude,Longitude,Community Board,Council District,Census Tract,BIN,BBL,NTA
0,50106271,Sour Mouse,Manhattan,110,Delancey Street,10002.0,6462567220,Not Available,NaN,Not Available,...,01/12/2023,Not Available,40.71864,-73.988481,103.0,1.0,1800.0,1087565.0,1004100064.0,MN27
1,50117820,Modello Bar - Barclays Center,Brooklyn,620,Atlantic Avenue,11217.0,9174174384,Not Available,NaN,Not Available,...,01/12/2023,Not Available,40.683447,-73.975691,302.0,35.0,12902.0,3398156.0,3011180001.0,BK37
2,50141790,Not Available,Manhattan,30,East 20 Street,10003.0,9176670036,Not Available,NaN,Not Available,...,01/12/2023,Not Available,40.738929,-73.989221,105.0,2.0,5200.0,1016181.0,1008480053.0,MN13
3,50134862,Fine And Raw Chocolate,Brooklyn,70,Scott Avenue,11237.0,6462440734,Not Available,NaN,Not Available,...,01/12/2023,Not Available,40.709853,-73.922706,301.0,34.0,44900.0,3070597.0,3029900001.0,BK90
4,50127238,The Deluxe Party Ktv,Queens,3420,Linden Place,11354.0,9172957843,Not Available,NaN,Not Available,...,01/12/2023,Not Available,40.766275,-73.831338,407.0,20.0,86900.0,4112007.0,4049500018.0,QN22
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
209136,50122994,New York Masala,Queens,16407,85th Avenue,11432.0,9175026030,Indian,11/10/2022,Violations were cited in the following area(s).,...,01/12/2023,Pre-permit (Operational) / Initial Inspection,40.712586,-73.801084,408.0,24.0,44800.0,4462006.0,4098540001.0,QN35
209396,50118709,Sunday Supper Trattoria,Queens,Not Available,Terminal C Level 3 Concourse E,11371.0,2159970667,Italian,26/10/2022,Violations were cited in the following area(s).,...,01/12/2023,Pre-permit (Operational) / Initial Inspection,Not Available,Not Available,Not Available,Not Available,Not Available,Not Available,Not Available,Not Available
209459,50129800,Ginger Root,Manhattan,1164,1 Avenue,10065.0,9175766999,Not Available,NaN,Not Available,...,01/12/2023,Not Available,40.76258,-73.95979,108.0,5.0,10602.0,1045388.0,1014580046.0,MN31
209506,50095016,Revoluction Taco,Manhattan,53,Stone Street,10004.0,9176912141,Not Available,NaN,Not Available,...,01/12/2023,Not Available,40.7044,-74.010247,101.0,1.0,900.0,1000845.0,1000290047.0,MN25
209648,50140196,Baht,Queens,78-23,37 Avenue,11372.0,3474212770,Not Available,NaN,Not Available,...,01/12/2023,Not Available,40.749387,-73.887741,403.0,25.0,28500.0,4029654.0,4012780038.0,QN28

In [51]:
result_query = new_df.query('Street == "Arthur Avenue"')
print(result_query)

           CAMIS                Doing Business As Borough Building Number  \
9       50067297               Gerbasi Restaurant   Bronx            2389
1665    41206802       Morrone Pastry Shop & Cafe   Bronx            2349
1959    40397574      Dominick'S Bar & Restaurant   Bronx            2335
2329    40705438              Emilia'S Restaurant   Bronx            2331
4226    50016957               M And G Restaurant   Bronx            2472
5139    50084046              Azgardz Of New York   Bronx            2330
5546    50046567              Prince Coffee House   Bronx            2306
6026    50086573                      Mike'S Deli   Bronx            2344
6076    40916630                   M&G Restaurant   Bronx            2390
8691    50016847                      San Gennaro   Bronx            2329
9555    40618281  Pasquale'S Rigoletto Restaurant   Bronx            2311
10544   41265836                  Parisienne Cafe   Bronx            2339
12630   50125216        Piattini Cafe Bar Osteria   Bronx            2363
16178   40840124                       Gurra Cafe   Bronx            2325
18427   50104538                      Avenue Gyro   Bronx            2356
19054   41338145               Tinos Delicatessen   Bronx            2410
23335   41358592         Zero Otto Nove Trattoria   Bronx            2357
25520   50042128              The Bronx Beer Hall   Bronx            2344
30381   41385659              Tony & Tina'S Pizza   Bronx            2483
30686   50128229                          Yopcity   Bronx            2324
34623   50092810                        Gene Bean   Bronx            2344
39485   40891377               Mug-Z'S Sports Bar   Bronx            2476
42376   50138913                     Proper Pizza   Bronx            2305
42594   41436074      Michael Angelo'S Brick Oven   Bronx            2477
47831   41392231                      Ivana Pizza   Bronx            2373
48813   41372259          Ann & Tony'S Restaurant   Bronx            2407
49613   50136964                  Estrella Azteca   Bronx            2328
61418   50128562                Milano Restaurant   Bronx            2376
82481   50008876                          Simon'S   Bronx            2479
94814   40941045               Mario'S Restaurant   Bronx            2342
127825  50046042                       La Cantina   Bronx            2467
169796  50104852          Last Call Bar And Grill   Bronx            2421

               Street Phone Number Phone Number  \
9       Arthur Avenue      10458.0   7182205735
1665    Arthur Avenue      10458.0   7187330424
1959    Arthur Avenue      10458.0   7187332807
2329    Arthur Avenue      10458.0   7183675915
4226    Arthur Avenue      10458.0   3475770002
5139    Arthur Avenue      10458.0   3475913556
5546    Arthur Avenue      10458.0   6468751868
6026    Arthur Avenue      10458.0   7182955033
6076    Arthur Avenue      10458.0   7185843788
8691    Arthur Avenue      10458.0   7185620129
9555    Arthur Avenue      10458.0   7183656644
10544   Arthur Avenue      10458.0   6464020758
12630   Arthur Avenue      10458.0   3472035036
16178   Arthur Avenue      10458.0   7182204254
18427   Arthur Avenue      10458.0   7182202526
19054   Arthur Avenue      10458.0   7187339879
23335   Arthur Avenue      10458.0   7182201027
25520   Arthur Avenue      10458.0   3473960555
30381   Arthur Avenue      10458.0   7187338094
30686   Arthur Avenue      10458.0   6315612518
34623   Arthur Avenue      10458.0   9174944447
39485   Arthur Avenue      10458.0   9172995546
42376   Arthur Avenue      10458.0   2023401121
42594   Arthur Avenue      10458.0   7186187310
47831   Arthur Avenue      10458.0   7183654322
48813   Arthur Avenue      10458.0   7189331469
49613   Arthur Avenue      10458.0   7182207621
61418   Arthur Avenue      10458.0   9294246981
82481   Arthur Avenue      10458.0   7185623354
94814   Arthur Avenue      10458.0   7185841188
127825  Arthur Avenue      10458.0   9179376515
169796  Arthur Avenue      10458.0   9178317532

                   Cuisine Description Inspection Date  \
9                              Italian      12/09/2021
1665          Bakery Products/Desserts      05/06/2023
1959                           Italian      31/05/2019
2329                           Italian      05/06/2023
4226                          American      18/11/2022
5139                          American      16/10/2019
5546                        Coffee/Tea      17/06/2022
6026                           Italian      03/08/2022
6076                          American      03/10/2022
8691                           Italian      22/09/2022
9555                           Italian      02/05/2023
10544                       Coffee/Tea      21/06/2023
12630                            Other      23/08/2023
16178                       Coffee/Tea      10/03/2022
18427                    Mediterranean      03/04/2023
19054                       Sandwiches      20/03/2023
23335                          Italian      07/04/2023
25520                          Italian      01/06/2022
30381                            Pizza      26/05/2022
30686                          African      29/06/2023
34623                       Coffee/Tea      05/10/2022
39485                         American      17/03/2023
42376                            Pizza      16/08/2023
42594                          Italian      27/04/2023
47831                            Pizza      18/04/2022
48813                          Italian      17/03/2022
49613                            Other      16/08/2023
61418                          Italian      17/10/2022
82481   Sandwiches/Salads/Mixed Buffet      16/11/2023
94814                          Italian      31/08/2023
127825               Bottled Beverages      27/10/2022
169796                             NaN             NaN

                                                   Action  ... Record Date  \
9       No violations were recorded at the time of thi...  ...   12/1/2023
1665      Violations were cited in the following area(s).  ...   12/1/2023
1959      Violations were cited in the following area(s).  ...   12/1/2023
2329      Violations were cited in the following area(s).  ...   12/1/2023
4226      Violations were cited in the following area(s).  ...   12/1/2023
5139      Violations were cited in the following area(s).  ...   12/1/2023
5546      Violations were cited in the following area(s).  ...   12/1/2023
6026      Violations were cited in the following area(s).  ...   12/1/2023
6076      Violations were cited in the following area(s).  ...   12/1/2023
8691      Violations were cited in the following area(s).  ...   12/1/2023
9555      Violations were cited in the following area(s).  ...   12/1/2023
10544     Violations were cited in the following area(s).  ...   12/1/2023
12630     Violations were cited in the following area(s).  ...   12/1/2023
16178     Violations were cited in the following area(s).  ...   12/1/2023
18427     Violations were cited in the following area(s).  ...   12/1/2023
19054     Violations were cited in the following area(s).  ...   12/1/2023
23335     Violations were cited in the following area(s).  ...   12/1/2023
25520     Violations were cited in the following area(s).  ...   12/1/2023
30381     Violations were cited in the following area(s).  ...   12/1/2023
30686     Violations were cited in the following area(s).  ...   12/1/2023
34623     Violations were cited in the following area(s).  ...   12/1/2023
39485     Violations were cited in the following area(s).  ...   12/1/2023
42376     Violations were cited in the following area(s).  ...   12/1/2023
42594     Violations were cited in the following area(s).  ...   12/1/2023
47831     Violations were cited in the following area(s).  ...   12/1/2023
48813     Violations were cited in the following area(s).  ...   12/1/2023
49613     Violations were cited in the following area(s).  ...   12/1/2023
61418     Violations were cited in the following area(s).  ...   12/1/2023
82481     Violations were cited in the following area(s).  ...   12/1/2023
94814     Violations were cited in the following area(s).  ...   12/1/2023
127825    Violations were cited in the following area(s).  ...   12/1/2023
169796                                                NaN  ...   12/1/2023

                                          Inpsection Type   Latitude  \
9            Inter-Agency Task Force / Initial Inspection  40.855290
1665                Cycle Inspection / Initial Inspection  40.854407
1959                     Cycle Inspection / Re-inspection  40.854188
2329                Cycle Inspection / Initial Inspection  40.854125
4226                     Cycle Inspection / Re-inspection  40.857133
5139                Cycle Inspection / Initial Inspection  40.854021
5546                Cycle Inspection / Initial Inspection  40.853645
6026                Cycle Inspection / Initial Inspection  40.854240
6076                     Cycle Inspection / Re-inspection  40.855288
8691                     Cycle Inspection / Re-inspection  40.854095
9555                     Cycle Inspection / Re-inspection  40.853812
10544               Cycle Inspection / Initial Inspection  40.854251
12630       Pre-permit (Operational) / Initial Inspection  40.854909
16178               Cycle Inspection / Initial Inspection  40.854032
18427               Cycle Inspection / Initial Inspection  40.854429
19054               Cycle Inspection / Initial Inspection  40.855814
23335               Cycle Inspection / Initial Inspection  40.854534
25520               Cycle Inspection / Initial Inspection  40.854240
30381               Cycle Inspection / Initial Inspection  40.857528
30686       Pre-permit (Operational) / Initial Inspection  40.853927
34623               Cycle Inspection / Initial Inspection  40.854240
39485               Cycle Inspection / Initial Inspection  40.857221
42376       Pre-permit (Operational) / Initial Inspection  40.853719
42594                    Cycle Inspection / Re-inspection  40.857166
47831               Cycle Inspection / Initial Inspection  40.855055
48813               Cycle Inspection / Initial Inspection  40.855787
49613       Pre-permit (Operational) / Initial Inspection  40.853991
61418   Pre-permit (Non-operational) / Initial Inspection  40.855044
82481               Cycle Inspection / Initial Inspection  40.857199
94814                    Cycle Inspection / Re-inspection  40.854210
127825              Cycle Inspection / Initial Inspection  40.857010
169796                                                NaN  40.856025

        Longitude Community Board Council District Census Tract        BIN  \
9      -73.887797           206.0             15.0      39100.0  2011897.0
1665   -73.888554           206.0             15.0      39100.0  2092244.0
1959   -73.888749           206.0             15.0      39100.0  2092246.0
2329   -73.888804           206.0             15.0      39100.0  2011903.0
4226   -73.886199           206.0             15.0      38900.0  2012246.0
5139   -73.888869           206.0             15.0      39100.0  2012123.0
5546   -73.889198           206.0             15.0      39100.0  2012119.0
6026   -73.888673           206.0             15.0      39100.0  2012125.0
6076   -73.887771           206.0             15.0      39100.0  2012140.0
8691   -73.888829           206.0             15.0      39100.0  2011904.0
9555   -73.889079           206.0             15.0      39100.0  2011882.0
10544  -73.888691           206.0             15.0      39100.0  2011902.0
12630  -73.888119           206.0             15.0      39100.0  2011900.0
16178  -73.888887           206.0             15.0      39100.0  2011905.0
18427  -73.888510           206.0             15.0      39100.0  2012128.0
19054  -73.887326           206.0             15.0      38900.0  2012240.0
23335  -73.888445           206.0             15.0      39100.0  2094635.0
25520  -73.888673           206.0             15.0      39100.0  2012125.0
30381  -73.885891           206.0             15.0      38900.0  2011957.0
30686  -73.888952           206.0             15.0      39100.0  2012121.0
34623  -73.888673           206.0             15.0      39100.0  2012125.0
39485  -73.886127           206.0             15.0      38900.0  2012248.0
42376  -73.889162           206.0             15.0      39100.0  2011882.0
42594  -73.886196           206.0             15.0      38900.0  2011929.0
47831  -73.887996           206.0             15.0      39100.0  2092243.0
48813  -73.887373           206.0             15.0      38900.0  2011919.0
49613  -73.888894           206.0             15.0      39100.0  2012122.0
61418  -73.887978           206.0             15.0      39100.0  2012137.0
82481  -73.886170           206.0             15.0      38900.0  2094650.0
94814  -73.888702           206.0             15.0      39100.0  2012124.0
127825 -73.886330           206.0             15.0      38900.0  2011933.0
169796 -73.887170           206.0             15.0      38900.0  2120567.0

                 BBL   NTA
9       2.030650e+09  BX06
1665    2.030650e+09  BX06
1959    2.030650e+09  BX06
2329    2.030650e+09  BX06
4226    2.030770e+09  BX06
5139    2.030730e+09  BX06
5546    2.030730e+09  BX06
6026    2.030730e+09  BX06
6076    2.030730e+09  BX06
8691    2.030650e+09  BX06
9555    2.030650e+09  BX06
10544   2.030650e+09  BX06
12630   2.030650e+09  BX06
16178   2.030650e+09  BX06
18427   2.030730e+09  BX06
19054   2.030770e+09  BX06
23335   2.030650e+09  BX06
25520   2.030730e+09  BX06
30381   2.030670e+09  BX06
30686   2.030730e+09  BX06
34623   2.030730e+09  BX06
39485   2.030770e+09  BX06
42376   2.030650e+09  BX06
42594   2.030660e+09  BX06
47831   2.030650e+09  BX06
48813   2.030660e+09  BX06
49613   2.030730e+09  BX06
61418   2.030730e+09  BX06
82481   2.030660e+09  BX06
94814   2.030730e+09  BX06
127825  2.030660e+09  BX06
169796  2.030660e+09  BX06

[32 rows x 26 columns]

In [31]:
new_df.to_csv('clean_NewYork_City_Restaurant_Inspection_Results_20231202.csv', index=False)

In [66]:
pd.reset_option('display.max_rows')
pd.reset_option('display.max_columns')
new_df.head(100)

,Borough,RestaurantName,SeatingChoice,LegalBusinessName,BusinessAddress,RestaurantInspectionID,IsSidewayCompliant,IsRoadwayCompliant,SkippedReason,InspectedOn,AgencyCode,Postcode,Latitude,Longitude,CommunityBoard,CouncilDistrict,CensusTract,BIN,BBL,NTA
0,Manhattan,Oscar Wilde,Both,Camelot Castle LLC,45 West 27th Street,72891,NaN,Non-Compliant,NaN,12/20/2021 04:06:58 PM,DOT,10001,40.744876,-73.989657,5.0,3.0,58.0,1015677.0,1.008290e+09,Hudson Yards-Chelsea-Flatiron-Union Square
1,Manhattan,La Rubia Restaurant,Both,La Rubia Restaurant Inc.,3517 Broadway,72892,NaN,For HIQA Review,NaN,12/20/2021 04:18:42 PM,DOT,10031,40.825863,-73.950874,9.0,7.0,229.0,1062369.0,1.020910e+09,Hamilton Heights
2,Manhattan,Thai Sliders,Sidewalk,Silom Thai Inc.,150 8th Avenue,72893,NaN,Non-Compliant,NaN,12/20/2021 04:35:41 PM,DOT,10011,40.741906,-74.000945,4.0,3.0,81.0,1013845.0,1.007670e+09,Hudson Yards-Chelsea-Flatiron-Union Square
3,Brooklyn,Otway,Both,Street James 930 LLC,930 Fulton Street,72894,NaN,Cease and Desist,NaN,12/20/2021 04:38:45 PM,DOT,11238,40.682833,-73.963833,2.0,35.0,201.0,3335112.0,3.020130e+09,Clinton Hill
4,Brooklyn,Williamsburg Thai Cuisine,Both,Williamsburg Thai Cuisine Ny Inc.,212 Bedford Avenue,72896,NaN,Compliant,NaN,12/20/2021 04:52:41 PM,DOT,11249,40.716913,-73.958728,1.0,33.0,553.0,3062192.0,3.023350e+09,North Side-South Side
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
101,Manhattan,Hill And Bay,Both,"E&E Restaurant 2, LLC",581 Second Avenue,73001,NaN,Compliant,NaN,12/21/2021 04:30:28 PM,DOT,10016,40.743340,-73.976868,6.0,2.0,70.0,1020054.0,1.009120e+09,Murray Hill-Kips Bay
102,Manhattan,Il Tinello Ristorante,Both,Sxb Restaurant Corp.,16 West 56th Street,73003,NaN,Non-Compliant,NaN,12/21/2021 04:53:31 PM,DOT,10019,40.762627,-73.975276,5.0,4.0,104.0,1034836.0,1.012710e+09,Midtown-Midtown South
103,Brooklyn,Manhattan Three Decker,Sidewalk,Three Decker Foods Inc.,86 Norman,73004,NaN,For HIQA Review,NaN,12/21/2021 05:15:51 PM,DOT,11222,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
104,Manhattan,Oliver Coffee,Both,Segundo Management LLC,171 East Broadway,73005,NaN,Marked For Removal,NaN,12/21/2021 11:58:48 PM,NaN,10002,40.714088,-73.989719,3.0,1.0,6.0,1003624.0,1.002840e+09,Lower East Side
105,Manhattan,Udon West 46,Both,"Sakaba, Inc.",150 East 46th Street,73006,NaN,Marked For Removal,NaN,12/21/2021 11:58:48 PM,NaN,10017,40.753719,-73.973561,6.0,4.0,92.0,1036198.0,1.013000e+09,Turtle Bay-East Midtown